<link rel="stylesheet" href="/css/navigation.css" />
<div>
  <div class="header-nav">
    <div>
      <span>Otváracie hodiny: Pon - Pia : 6.00 - 20.00</span>
    </div>
    <div class="head-btns">
      <div class="head-btn">info@ZubZen.com</div>
      <div class="head-btn">+000 123 456 789</div>
    </div>
  </div>
  <nav class="nav">
    <div class="nav-content">
      <a href="#home" class="logo-link">
        <h3 style="font-weight: 700" class="link-zen">ZubZen</h3>
      </a>
      <ul>
        <li><a href="/">Úvod</a></li>
        <li><a href="#sluzby">Služby</a></li>
        <li><a href="#cennik">Cenník</a></li>
        <li><a href="#specialisti">Naši špecialisti</a></li>
        <button class="nav-btn">Objednajte sa</button>
      </ul>
    </div>
  </nav>
</div>
