<main>
  <h1>Hi Mom!</h1>
  <form action="/create-user" method="POST" class="add-form">
    <h2>Create User</h2>
    <div class="form-field">
      <label for="name">User name:</label>
      <input type="text" name="name" id="name" value="" />
    </div>

    <div class="form-field">
      <label for="country">Country:</label>
      <input type="text" name="country" id="country" value="" />
    </div>
    <button class="button" type="submit">Submit</button>
  </form>

  <div class="users"></div>
</main>
